<div class="message-block message-info">
  <a data-dismiss="alert" class="message-close">×</a>
  <div class="message-block-content">
    <p>
      <strong>Olá,</strong>
      Esta questão pertence a um exercício cooperativo anônimo. Aqui você pode refletir sobre os assuntos mostrados em sala de aula e ajudar seus colegas a aprender melhor. Nestes exercícios sua identidade não sera divulgada, portanto seja sincero e aproveite!
    </p>
  </div>
</div>
