<div class="statement">
  <p>
    Um móvel realiza um movimento circular e uniforme, com velocidade de 5 m/s. Sendo a aceleração centrípeta igual a 10 m/s2, determine o raio de sua trajetória.
  </p>
  <%= image_tag 'holder.js/640x120' %>
</div>
