<h4 class="answer-author">Cooperador <%= item.cooperation.user.id %></h4>
<div class="answer-review">
  <p>
    <strong>Está bem justificado?</strong> <br />
    <em><%= item.cooperation.rationale %></em>
  </p>

  <p>
    <strong>Recomendaçãoes:</strong> <br />
    <em><%= item.cooperation.recommendation %></em>
  </p>
</div>
