<% greeting ||= "Olá" %>
<% if message %>
  <div class="message-block message-info">
    <div class="message-block-content">
        <strong><%= greeting %></strong>
        <%= message %>
    </div>
  </div>
<% end %>
