<p> Olá <%= @user.name %>, </p>

<p>Você pediu um sumário das atividades para o Exercício # <%= @ar_exercise.id %>.  </p>

<p>O sumário pode ser baixado e impresso clicando <%= link_to "neste", @pdf_url %> link.</p>


<br><br>
--
<br><br>

Atenciosamente

